:root {
    --black: rgb(36, 36, 36);
    --mainGradiant: linear-gradient(225deg, rgba(255,70,76,1) 0%, rgba(255,173,70,1) 100%);
    --lightGrey: #EBEBEB;
    --white: rgb(255, 255, 255);
    --red: rgb(255, 180, 180);
    --green: rgb(160, 255, 160);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    width: 1000px;
    height: 600px;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form_area {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    margin: 15px 0 10px 0;
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: 900;
    color: var(--black);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

label {
    font-family: sans-serif;
    font-weight: 600;
    color: var(--black);
}

input {
    display: block;
    height: 40px;
    width: 400px;
    outline: none;
    border: none;
    background-color: var(--lightGrey);
    border-radius: 5px;
    padding: 0 10px;
    font-size: 0.9em;
}

.error_msg {
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 3px;
    position: absolute;
}

.register_buttom {
    margin-top: 30px;
    width: 200px;
    height: 30px;
    border: none;
    height: 50px;
    border-radius: 30px;
    background: var(--mainGradiant);
    color: var(--white);
    cursor: pointer;
}

.user_data {
    display: none;
}

/* ---------------------------------------------------------- */

.form_details {
    width: 50%;
    height: 100%;
    background: var(--mainGradiant);
    border-radius: 0 20px 20px 0;
    color: var(--white);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    width: 400px;
    font-weight: 900;
}

.form_details p {
    margin-top: 20px;
    width: 400px;
}

/* ---------------------------------------------------------- */

.user_data {
    width: 500px;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data_main_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 514px;
    row-gap: 70px;
    font-size: 1.2em;
    margin-bottom: 100px;
}

.data_label {
    font-weight: 800;
}

.data {
    display: inline;
    font-family: sans-serif;
}

/* ------------------------Register-------------------------- */

@keyframes formTransition {
    form {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slide {
    0% {
        transform: translateX(0px);
        border-radius: 0 20px 20px 0;
    }
    80% {
        transform: translateX(-500px);
        border-radius: 20px 0 0 20px ;
    }
    100% {
        transform: translateX(-500px);
        border-radius: 20px 0 0 20px ;
    }
}

@keyframes error {
    0% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

.form_hide {
    animation-name: formTransition;
    animation-duration: 2s;
}

.smooth_slide {
    animation: slide 2s ;
}